/target
app/bin/AndroidManifest.xml
app/bin/TFAKey.apk
app/bin/classes.dex
app/bin/dexedLibs/android-support-v4-5d2b8556a88df801f6499eed5e12708e.jar
app/bin/dexedLibs/annotations-38d3c227448e8d90fd806a2a4873c617.jar
app/bin/res/crunch/drawable-hdpi/ic_launcher.png
app/bin/res/crunch/drawable-mdpi/ic_launcher.png
app/bin/res/crunch/drawable-xhdpi/ic_launcher.png
app/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
app/bin/resources.ap_
logs/DCPLog
tfa.tgz
app/bin/jarlist.cache
logs/DCPLog_2013-12-27.log
logs/DCPLog_2013-12-30.log
logs/DCPLog_2014-01-10.log
logs/TFAlog
logs/TFAlog_2014-01-21.log
logs/TFAlog_2014-01-25.log
logs/TFAlog_2014-01-26.log
